In [2]:
import pandas as pd
import seaborn as sns
import matplotlib 
from matplotlib import pyplot as plt
import numpy as np 
from scipy import stats

In [85]:
all_death_workforce = pd.read_excel('Heart data\All deaths at working age.xlsx')

In [86]:
all_death_workforce.head()

,country,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,European Union - 27 countries (from 2020),11135.0,10346.0,10231.0,9575.0,9405.0,9207.0,8981.0,8877.0,9272.0,NaN
1,European Union - 28 countries (2013-2020),12513.0,11807.0,11742.0,11034.0,10822.0,NaN,NaN,NaN,NaN,NaN
2,Belgium,312.0,295.0,299.0,266.0,251.0,246.0,231.0,225.0,231.0,NaN
3,Bulgaria,282.0,244.0,234.0,209.0,183.0,168.0,174.0,180.0,226.0,NaN
4,Czechia,345.0,289.0,303.0,276.0,268.0,273.0,260.0,205.0,215.0,263.0

In [87]:
all_death_workforce.rename(columns={'2013': 'death_work_13', '2014': 'death_work_14','2015': 'death_work_15', 
                                      '2016':'death_work_16', '2017': 'death_work_17', '2018': 'death_work_18','2019': 'death_work_19', 
                                      '2020': 'death_work_20', '2021': 'death_work_21', '2022': 'death_work_22'}, inplace=True)

In [88]:
all_death_workforce.head()

,country,death_work_13,death_work_14,death_work_15,death_work_16,death_work_17,death_work_18,death_work_19,death_work_20,death_work_21,death_work_22
0,European Union - 27 countries (from 2020),11135.0,10346.0,10231.0,9575.0,9405.0,9207.0,8981.0,8877.0,9272.0,NaN
1,European Union - 28 countries (2013-2020),12513.0,11807.0,11742.0,11034.0,10822.0,NaN,NaN,NaN,NaN,NaN
2,Belgium,312.0,295.0,299.0,266.0,251.0,246.0,231.0,225.0,231.0,NaN
3,Bulgaria,282.0,244.0,234.0,209.0,183.0,168.0,174.0,180.0,226.0,NaN
4,Czechia,345.0,289.0,303.0,276.0,268.0,273.0,260.0,205.0,215.0,263.0

In [4]:
cvd_work = pd.read_excel('Heart data\CVD due to work.xlsx')

In [89]:
cvd_work.rename(columns={'TIME': 'country', '2020':'cvd_20'}, inplace=True)

In [90]:
cvd_work.head()

                                     country  cvd_20
0  European Union - 27 countries (from 2020)     0.5
1  European Union - 28 countries (2013-2020)     NaN
2      Euro area - 19 countries  (2015-2022)     0.2
3                                    Belgium     0.3
4                                   Bulgaria     1.4

In [93]:
death_other_heart_diseases = pd.read_excel('Heart data\Death by other heart diseases.xlsx')

In [94]:
death_other_heart_diseases.rename(columns={'2012': 'other_12', '2013': 'other_13', '2014': 'other_14','2015': 'other_15', 
                                      '2016':'other_16', '2017': 'other_17', '2018': 'other_18','2019': 'other_19', 
                                      '2020': 'other_20', '2021': 'other_21'}, inplace=True)

In [95]:
death_other_heart_diseases.head()

,country,other_12,other_13,other_14,other_15,other_16,other_17,other_18,other_19,other_20,other_21
0,Belgium,18.64,18.46,16.66,16.07,16.88,17.33,11.33,11.45,11.38,11.87
1,Bulgaria,107.74,116.91,127.89,115.11,135.01,133.17,135.75,124.77,124.88,132.79
2,Czechia,25.86,21.04,21.70,23.47,25.71,27.75,26.48,25.67,25.55,27.93
3,Denmark,12.37,12.14,13.83,12.18,13.22,14.58,13.78,11.05,9.42,10.10
4,Germany,18.03,17.76,17.65,19.09,16.88,15.29,15.21,12.98,12.39,13.05

In [96]:
expenses_healthcare = pd.read_excel('Heart data\Expenditure in healthcare.xlsx')

In [99]:
expenses_healthcare.rename(columns={'TIME': 'country', '2012': 'exp_12', '2013': 'exp_13', '2014': 'exp_14','2015': 'exp_15', 
                                      '2016':'exp_16', '2017': 'exp_17', '2018': 'exp_18','2019': 'exp_19', 
                                      '2020': 'exp_20', '2021': 'exp_21', '2022': 'exp_22', '2023':'exp_23'}, inplace=True)

In [100]:
expenses_healthcare.head()

,country,exp_12,exp_13,exp_14,exp_15,exp_16,exp_17,exp_18,exp_19,exp_20,exp_21,exp_22,exp_23
0,European Union - 27 countries (from 2020),NaN,NaN,180885.50,186125.51,193175.30,208001.81,217206.33,227159.57,243002.47,255332.48,NaN,NaN
1,Euro area – 20 countries (from 2023),NaN,NaN,158678.69,163200.99,169471.14,183186.60,191992.27,201151.96,215198.64,225637.74,NaN,NaN
2,Euro area - 19 countries (2015-2022),NaN,NaN,158589.44,163103.02,169372.15,183084.66,191882.62,201033.40,215082.57,225512.79,NaN,NaN
3,Belgium,8460.02,8852.82,9338.09,10334.36,11289.13,11831.11,12477.06,11964.11,11244.63,11897.60,NaN,NaN
4,Bulgaria,2.75,3.32,3.58,4.39,3.34,3.59,4.26,5.32,110.15,196.77,283.48,NaN

In [101]:
death_ischaemic = pd.read_excel('Heart data\Death by ischaemic heart.xlsx')

In [102]:
death_ischaemic.rename(columns={'2012': 'isch_12', '2013': 'isch_13', '2014': 'isch_14','2015': 'isch_15', 
                                      '2016':'isch_16', '2017': 'isch_17', '2018': 'isch_18','2019': 'isch_19', 
                                      '2020': 'isch_20', '2021': 'isch_21'}, inplace=True)

In [103]:
death_ischaemic.head()

,country,isch_12,isch_13,isch_14,isch_15,isch_16,isch_17,isch_18,isch_19,isch_20,isch_21
0,Belgium,25.91,25.33,23.62,23.67,21.34,20.91,20.68,19.02,17.74,17.94
1,Bulgaria,82.84,76.19,79.70,77.36,76.47,78.32,77.16,76.88,90.63,95.52
2,Czechia,69.01,70.49,62.98,60.09,53.99,53.84,53.67,50.34,49.64,49.65
3,Denmark,23.70,22.11,21.45,20.68,20.51,19.22,18.47,18.84,18.28,17.79
4,Germany,37.94,36.78,34.62,35.42,33.65,32.54,32.06,30.24,30.88,30.71

In [17]:
death_other_ischaemic = pd.read_excel('Heart data\Death by other ischaemic diseases.xlsx')

In [104]:
death_other_ischaemic.rename(columns={'2012': 'other_isch_12', '2013': 'other_isch_13', '2014': 'other_isch_14','2015': 'other_isch_15', 
                                      '2016':'other_isch_16', '2017': 'other_isch_17', '2018': 'other_isch_18','2019': 'other_isch_19', 
                                      '2020': 'other_isch_20', '2021': 'other_isch_21'}, inplace=True)

In [105]:
death_other_ischaemic.head()

,country,other_isch_12,other_isch_13,other_isch_14,other_isch_15,other_isch_16,other_isch_17,other_isch_18,other_isch_19,other_isch_20,other_isch_21
0,Belgium,6.32,6.38,6.15,6.75,5.64,5.55,6.16,5.83,5.33,5.60
1,Bulgaria,30.91,29.35,28.15,29.10,27.88,32.90,29.11,30.01,36.25,37.56
2,Czechia,37.85,42.16,39.32,38.37,34.01,34.10,35.99,33.38,32.71,32.68
3,Denmark,9.64,10.45,10.78,9.79,9.75,9.45,7.83,8.96,9.35,9.23
4,Germany,12.22,11.85,11.60,12.45,11.61,11.65,11.53,11.26,11.09,10.97

In [108]:
all_heart = cvd_work.merge(death_ischaemic, on= 'country', how= 'outer').merge(death_other_ischaemic, on='country', how='outer').merge(death_other_heart_diseases, on='country', how='outer').merge(all_death_workforce, on='country', how='outer')

In [109]:
all_heart.merge(all_death_workforce, on='country', how='outer').merge(cvd_work, on='country', how='outer')

,country,cvd_20_x,isch_12,isch_13,isch_14,isch_15,isch_16,isch_17,isch_18,isch_19,...,death_work_14_y,death_work_15_y,death_work_16_y,death_work_17_y,death_work_18_y,death_work_19_y,death_work_20_y,death_work_21_y,death_work_22_y,cvd_20_y
0,European Union - 27 countries (from 2020),0.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,10346.0,10231.0,9575.0,9405.0,9207.0,8981.0,8877.0,9272.0,NaN,0.5
1,European Union - 28 countries (2013-2020),NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,11807.0,11742.0,11034.0,10822.0,NaN,NaN,NaN,NaN,NaN,NaN
2,Euro area - 19 countries (2015-2022),0.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.2
3,Belgium,0.3,25.91,25.33,23.62,23.67,21.34,20.91,20.68,19.02,...,295.0,299.0,266.0,251.0,246.0,231.0,225.0,231.0,NaN,0.3
4,Bulgaria,1.4,82.84,76.19,79.70,77.36,76.47,78.32,77.16,76.88,...,244.0,234.0,209.0,183.0,168.0,174.0,180.0,226.0,NaN,1.4
5,Czechia,0.1,69.01,70.49,62.98,60.09,53.99,53.84,53.67,50.34,...,289.0,303.0,276.0,268.0,273.0,260.0,205.0,215.0,263.0,0.1
6,Denmark,0.1,23.70,22.11,21.45,20.68,20.51,19.22,18.47,18.84,...,104.0,118.0,136.0,119.0,77.0,110.0,119.0,116.0,NaN,0.1
7,Germany,0.2,37.94,36.78,34.62,35.42,33.65,32.54,32.06,30.24,...,1554.0,1584.0,1457.0,1435.0,1432.0,1359.0,1388.0,1365.0,NaN,0.2
8,Estonia,0.5,87.73,79.97,78.97,65.57,69.73,67.39,62.05,46.95,...,66.0,36.0,54.0,39.0,19.0,31.0,28.0,32.0,NaN,0.5
9,Ireland,NaN,43.09,39.68,40.97,39.60,36.62,32.72,33.91,34.05,...,148.0,108.0,100.0,90.0,97.0,89.0,90.0,114.0,NaN,NaN
10,Greece,0.2,65.81,61.90,58.38,59.67,57.83,58.78,55.75,56.39,...,255.0,250.0,238.0,225.0,235.0,221.0,209.0,222.0,NaN,0.2
11,Spain,0.3,24.56,24.67,23.99,23.36,23.03,22.30,22.11,20.72,...,659.0,580.0,574.0,595.0,624.0,583.0,609.0,697.0,744.0,0.3
12,France,0.2,18.62,18.18,17.40,17.62,17.20,17.12,16.68,16.49,...,1561.0,1593.0,1547.0,1536.0,1523.0,1443.0,1482.0,1578.0,NaN,0.2
13,Croatia,0.7,74.89,69.12,70.63,72.54,67.27,67.32,63.29,56.42,...,104.0,119.0,99.0,116.0,106.0,99.0,114.0,95.0,NaN,0.7
14,Italy,0.2,23.78,22.41,20.99,22.17,20.30,19.48,17.94,18.40,...,916.0,956.0,952.0,973.0,928.0,881.0,812.0,850.0,NaN,0.2
15,Cyprus,0.3,46.22,38.73,43.37,45.09,44.06,46.41,36.57,41.17,...,18.0,29.0,16.0,27.0,20.0,20.0,22.0,NaN,NaN,0.3
16,Latvia,0.4,162.22,157.28,146.31,138.48,133.86,121.32,118.79,105.20,...,107.0,80.0,85.0,83.0,61.0,66.0,61.0,63.0,NaN,0.4
17,Lithuania,0.1,171.17,154.72,150.45,152.81,141.71,126.84,119.84,113.04,...,198.0,140.0,114.0,106.0,103.0,107.0,93.0,96.0,92.0,0.1
18,Luxembourg,0.3,25.94,34.15,27.88,25.77,21.37,23.34,27.36,20.50,...,4.0,10.0,8.0,10.0,9.0,16.0,8.0,12.0,8.0,0.3
19,Hungary,0.4,118.55,111.77,111.07,108.45,104.16,104.75,102.82,101.07,...,254.0,261.0,234.0,211.0,250.0,213.0,233.0,256.0,NaN,0.4
20,Malta,NaN,63.96,47.04,42.42,46.77,43.39,44.49,41.87,43.53,...,6.0,11.0,7.0,13.0,12.0,NaN,12.0,11.0,NaN,NaN
21,Netherlands,0.2,21.85,19.15,17.12,16.88,16.09,14.32,15.69,15.38,...,266.0,286.0,321.0,304.0,321.0,341.0,313.0,346.0,NaN,0.2
22,Austria,0.6,38.04,38.26,34.38,34.52,33.18,33.32,33.86,32.53,...,205.0,270.0,205.0,191.0,189.0,190.0,175.0,206.0,200.0,0.6
23,Poland,2.3,62.14,56.97,52.72,51.65,47.08,46.55,45.00,45.63,...,1588.0,1473.0,1320.0,1270.0,1269.0,1177.0,1219.0,1183.0,1141.0,2.3
24,Portugal,0.3,19.97,21.41,30.03,28.29,28.61,29.58,27.89,28.34,...,189.0,187.0,184.0,202.0,170.0,194.0,204.0,189.0,NaN,0.3
25,Romania,0.4,103.54,99.21,97.74,97.48,93.31,92.13,94.02,97.08,...,638.0,611.0,534.0,523.0,438.0,514.0,479.0,573.0,NaN,0.4
26,Slovenia,0.3,40.76,35.90,37.64,39.71,32.78,39.04,32.30,28.64,...,43.0,49.0,50.0,41.0,40.0,34.0,33.0,31.0,34.0,0.3
27,Slovakia,0.3,91.55,89.24,85.28,88.47,80.83,82.67,72.44,76.08,...,173.0,183.0,164.0,142.0,151.0,146.0,115.0,139.0,116.0,0.3
28,Finland,0.6,46.80,42.67,42.09,39.83,39.54,37.17,36.11,31.42,...,168.0,161.0,166.0,185.0,163.0,201.0,190.0,163.0,177.0,0.6
29,Sweden,0.3,30.38,30.78,29.58,30.20,28.88,27.29,25.99,21.99,...,294.0,300.0,259.0,267.0,283.0,273.0,259.0,241.0,NaN,0.3
30,Iceland,NaN,34.39,18.44,26.23,27.32,22.80,26.99,22.64,25.74,...,8.0,7.0,11.0,10.0,8.0,6.0,7.0,7.0,NaN,NaN
31,Norway,NaN,29.89,26.72,23.82,24.09,22.65,19.72,22.16,19.32,...,131.0,130.0,121.0,139.0,122.0,150.0,111.0,102.0,NaN,NaN
32,Switzerland,0.2,22.46,20.65,20.86,18.70,17.96,17.49,16.08,16.80,...,155.0,172.0,159.0,156.0,157.0,162.0,171.0,156.0,NaN,0.2
33,United Kingdom,NaN,42.00,42.34,41.13,40.91,40.63,40.70,39.49,0.00,...,1461.0,1511.0,1459.0,1417.0,1539.0,NaN,NaN,NaN,NaN,NaN
34,Türkiye,NaN,50.70,63.73,65.73,64.12,63.80,61.26,57.91,53.41,...,2884.0,2631.0,3208.0,3130.0,3136.0,2897.0,3039.0,3337.0,NaN,NaN
35,Liechtenstein,NaN,17.77,12.56,0.00,5.85,12.68,6.60,5.54,5.66,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,0.0,0.0,NaN
36,Serbia,NaN,67.28,62.39,63.27,59.70,54.02,55.60,56.21,53.58,...,220.0,178.0,177.0,154.0,176.0,148.0,154.0,182.0,NaN,NaN
37,Metropolitan France,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,1467.0,1491.0,1443.0,1459.0,1443.0,1364.0,1384.0,1469.0,NaN,NaN

In [113]:
all_heart.shape

(38, 42)